<div class="container">
  <button class="btn btn-primary" (click)="onStep()">Step ></button>
  <button class="btn btn-success" (click)="runAll()">Run to End >></button>
  <div *ngFor="let num of result | async">
    <div class="progress my-2">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width]="num + '%'"
        [attr.aria-valuenow]="num"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
  Sorted nums: {{ numbersSorted }}
</div>
