<div class="container">
  <h2 class="page-title">Selection Sort</h2>

  <div class="form-row">
    <div class="form-group col px-4">
      <label for="speed">Animation Duration: {{ speed }}</label>
      <input
        id="speed"
        class="form-control-range"
        [(ngModel)]="speed"
        type="range"
        min="50"
        max="1000"
      />
    </div>
    <div class="form-group col px-4">
      <!-- (change) fires once for type number -->
      <label for="sample-size">Sample Size: {{ sampleSize }}</label>
      <input
        id="sample-size"
        class="form-control-range"
        [(ngModel)]="sampleSize"
        (change)="onChangeSampleSize()"
        type="range"
        min="10"
        max="500"
        #size
      />
    </div>
    <div class="col-12">
      <button class="btn btn-success mr-2" (click)="runAll()">
        Run from Beginning >>
      </button>
      <button class="btn btn-danger mr-2" (click)="stop()">Stop ||</button>
    </div>
  </div>

  <div class="graph-container" *ngIf="result$ | async as result">
    <span class="my-2">Sorted {{ result.sorted }}</span>
    <div class="graph" #graph>
      <div
        *ngFor="let num of result.data"
        class="d-inline-block"
        [style.height]="(num.value / input.length) * 100 + '%'"
        [style.width]="graph.offsetWidth / input.length + 'px'"
        [ngClass]="{
          'bg-primary': num.status === eSortStatus.UNSORTED,
          'bg-warning': num.status === eSortStatus.SORTING,
          'bg-success': num.status === eSortStatus.SORTED
        }"
        [attr.data-value]="num"
      ></div>
    </div>
  </div>
</div>
