<div class="container">
  <h2 class="page-title">{{ title }}</h2>

  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label
      *ngFor="let sortType of eSortType | enumToArray"
      class="btn btn-secondary active"
    >
      <input
        type="radio"
        name="options"
        id="option1"
        autocomplete="off"
        checked
      />
      {{ sortType }}
    </label>
  </div>

  <app-controls
    [speed]="speed"
    (speedChangeEvent)="speed = $event; period$.next(speed)"
    [sampleSize]="sampleSize"
    (sampleSizeChangeEvent)="sampleSize = $event; onChangeSampleSize()"
  ></app-controls>
  <div class="d-block">
    <button class="btn btn-success mr-2" (click)="runAll()">
      Run from Beginning >>
    </button>
    <button class="btn btn-danger mr-2" (click)="stop()">Stop ||</button>
  </div>

  <app-graph
    *ngIf="result$ | async as result"
    [data]="result.data"
    [sorted]="result.sorted"
    [sampleSize]="sampleSize"
  >
  </app-graph>
</div>
