<div class="container my-4">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <div
      *ngFor="let sortType of eSortType | enumToArray; let i = index"
      class="btn btn-secondary"
      (click)="onSortTypeChange(sortType)"
      [class.active]="sortType === currSortType"
    >
      <input
        type="radio"
        name="sort-types"
        id="sort-type-{{ i }}"
        autocomplete="off"
      />
      {{ sortType | titlecase }}
    </div>
  </div>
  <hr />

  <h3>{{ currSortType | titlecase }} Sort</h3>

  <h2>
    <pre>{{ sortingService.returnSortItemArray(input) }}</pre>
  </h2>

  <app-controls
    [speed]="speed"
    (speedChangeEvent)="speed = $event; period$.next(speed)"
    [sampleSize]="sampleSize"
    (sampleSizeChangeEvent)="sampleSize = $event; onChangeSampleSize()"
  ></app-controls>
  <div class="d-block">
    <button class="btn btn-success mr-2" (click)="runAll()">
      Run from Beginning >>
    </button>
    <button class="btn btn-danger mr-2" (click)="stop()">Stop ||</button>
  </div>

  <app-graph
    *ngIf="result$ | async as result"
    [data]="result.data"
    [sorted]="result.sorted"
    [sampleSize]="sampleSize"
  >
  </app-graph>
</div>
