<div class="container">
  <button (click)="findPath()">Find Path</button>

  <!-- TODO: make this reusable -->
  <div class="graph-container">
    <div class="graph grid-graph">
      <div *ngFor="let row of data" class="graph-row d-inline-flex">
        <div
          *ngFor="let block of row"
          class="graph-block d-block float-left"
          (click)="onBlockClick(block)"
          [ngClass]="{
            'bg-info': block.status === eSearchStatus.VISITED,
            'bg-success': block.status === eSearchStatus.ORIGIN,
            'bg-danger': block.status === eSearchStatus.FINISH
          }"
        >
          <!-- <span [style.fontSize]="'1rem'"> {{ item.x }},{{ item.y }} </span> -->
        </div>
      </div>
    </div>
  </div>
</div>
