@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

.graph-container {
  padding: 1rem;
  border: 1px solid $gray-400;
  margin: 1rem 0;
  display: flex;
  text-align: center;
  overflow: scroll;
}

.graph {
  height: 75vh;
  div {
    align-self: flex-end;
  }
}

.grid-graph {
  border: 1px solid $gray-300;
}

.graph-row {
  white-space: nowrap;
}

$block-size: 24px;
.graph-block {
  width: $block-size;
  height: $block-size;
  overflow: hidden;
  vertical-align: top; // remove spaces under each block
  border: 0.5px solid $gray-300;
}
