<div class="container">
  <button (click)="findPath()">Find Path</button>
  {{ data[4][4].status }} {{ !!data[4][4].animated }}
  <div
    class="graph-block d-block float-left"
    [@status]="!!data[4][4].animated ? data[4][4].status : ''"
    (click)="data[4][4].status = eSearchStatus.VISITED"
  ></div>

  <!-- TODO: make this reusable -->
  <div class="graph-container">
    <div class="graph grid-graph">
      <div *ngFor="let row of data" class="graph-row d-inline-flex">
        <div
          *ngFor="let block of row"
          class="graph-block d-block float-left"
          (click)="onBlockClick(block)"
          [@status]="!!block.animated ? block.status : ''"
          [ngClass]="{
            animated: !!block.animated,
            'bg-success': block.status === eSearchStatus.ORIGIN,
            'bg-danger': block.status === eSearchStatus.FINISH,
            'bg-dark': block.status === eSearchStatus.WALL
          }"
          [style.fontSize]="'1rem'"
        >
          <!-- visited: block.status === eSearchStatus.VISITED,
            highlighted: block.status === eSearchStatus.HIGHLIGHTED, -->
          <!-- <span [style.fontSize]="'1rem'"> {{ item.x }},{{ item.y }} </span> -->
          <ng-container [ngSwitch]="block.status">
            <span *ngSwitchCase="eSearchStatus.HIGHLIGHTED"></span>
            <span *ngSwitchCase="eSearchStatus.ORIGIN">🐶</span>
            <span *ngSwitchCase="eSearchStatus.FINISH">🦴</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
