@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';

.graph-container {
  padding: 1rem;
  border: 1px solid $gray-400;
  margin: 1rem 0;
  height: 75vh;
}

.graph {
  height: 100%;
  text-align: center;
}

.grid-graph {
  display: flex;
  border: 1px solid $gray-300;
  overflow: scroll;
}

$block-size: 24px;
.graph-block {
  width: $block-size;
  height: $block-size;
  overflow: hidden;
  vertical-align: top; // remove spaces under each block
  border: 0.5px solid $gray-300;
}
