<div class="container">
  <button (click)="findPath()">Find Path</button>

  <!-- TODO: make this reusable -->
  <div class="graph-container">
    <div class="graph grid-graph">
      <div *ngFor="let row of data" class="graph-row d-inline-flex">
        <div
          *ngFor="let block of row"
          class="graph-block d-block float-left"
          (click)="onBlockClick(block)"
          [ngClass]="{
            animated: !!block.animated,
            visited: block.status === eSearchStatus.VISITED,
            'bg-success': block.status === eSearchStatus.ORIGIN,
            'bg-danger': block.status === eSearchStatus.FINISH,
            'bg-warning': block.status === eSearchStatus.HIGHLIGHTED,
            'bg-dark': block.status === eSearchStatus.WALL
          }"
          [style.fontSize]="'1rem'"
        >
          <!-- <span [style.fontSize]="'1rem'"> {{ item.x }},{{ item.y }} </span> -->
          <ng-container [ngSwitch]="block.status">
            <span *ngSwitchCase="eSearchStatus.HIGHLIGHTED"></span>
            <span *ngSwitchCase="eSearchStatus.ORIGIN">🐶</span>
            <span *ngSwitchCase="eSearchStatus.FINISH">🦴</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
