<div class="form-row">
  <div *ngIf="speed" class="form-group col pr-4">
    <label for="speed">Speed: {{ speed }}</label>
    <input
      id="speed"
      class="form-control-range"
      [value]="speed"
      (change)="speedChangeEvent.emit($event.target.value)"
      type="range"
      min="1"
      max="1000"
    />
  </div>
  <div *ngIf="sampleSize" class="form-group col pl-4">
    <!-- (change) fires once for type number -->
    <label for="sample-size">Sample Size: {{ sampleSize }}</label>
    <input
      id="sample-size"
      class="form-control-range"
      [value]="sampleSize"
      (change)="sampleSizeChangeEvent.emit($event.target.value)"
      type="range"
      min="10"
      max="250"
      #size
    />
  </div>
</div>
