<div class="form-row">
  <div *ngIf="speed" class="form-group col pr-4">
    <label for="speed">Speed: {{ speed }}</label>
    <!-- !initial value has to come after min and max -->
    <input
      id="speed"
      class="form-control-range"
      [min]="minSpeed"
      [max]="maxSpeed"
      [value]="speed"
      (change)="speedChangeEvent.emit($event.target.value)"
      type="range"
    />
  </div>
  <div *ngIf="sampleSize" class="form-group col pl-4">
    <!-- (change) fires once for type number -->
    <label for="sample-size">Sample Size: {{ sampleSize }}</label>
    <input
      id="sample-size"
      class="form-control-range"
      [min]="minSampleSize"
      [max]="maxSampleSize"
      [value]="sampleSize"
      (change)="sampleSizeChangeEvent.emit($event.target.value)"
      type="range"
      #size
    />
  </div>
</div>
