@import 'bootstrap/scss/bootstrap';

.graph-container {
  padding: 1rem 1rem 0rem 1rem;
  border: 1px solid $gray-400;
  margin: 1rem 0;
}
.graph {
  height: 75vh;
}

.page-title {
  margin-top: 1rem;
}
