<div class="graph-container">
  <div class="mb-3">Sorted {{ sorted }}</div>
  <div class="graph bar-graph" #graph>
    <div
      *ngFor="let num of data"
      class="d-inline-block"
      [style.height]="(num.value / sampleSize) * 100 + '%'"
      [style.width]="barWidth"
      [ngClass]="{
        'bg-primary': num.status === eSortStatus.UNSORTED,
        'bg-warning': num.status === eSortStatus.SORTING,
        'bg-success': num.status === eSortStatus.SORTED,
        'bg-danger': num.status === eSortStatus.PIVOT
      }"
      [attr.data-value]="num"
    ></div>
  </div>
</div>
